
Frontend/.vs/slnx.sqlite
Frontend/.vs/Frontend/FileContentIndex/7e4db490-82f6-4650-9cee-efc72e3db8a9.vsidx
*.vsidx
*.vsidx
Frontend/.vs/Frontend/v17/.wsuo
*.vsidx
Frontend/node_modules/.vite/deps/react_jsx-dev-runtime.js
Frontend/node_modules/.vite/deps/react_jsx-dev-runtime.js.map
Frontend/node_modules/.vite/deps/axios.js
Frontend/node_modules/.vite/deps/_metadata.json
Frontend/.vs/VSWorkspaceState.json
Frontend/.vs/Frontend/FileContentIndex/7e4db490-82f6-4650-9cee-efc72e3db8a9.vsidx
Frontend/.vs/Frontend/FileContentIndex/7e4db490-82f6-4650-9cee-efc72e3db8a9.vsidx
Frontend/node_modules/.vite/deps/_metadata.json
Frontend/node_modules/.vite/deps/axios.js
Frontend/node_modules/.vite/deps/react_jsx-dev-runtime.js.map
Frontend/node_modules/.vite/deps/react_jsx-dev-runtime.js
Frontend/node_modules/.vite/deps/react.js.map
Frontend/node_modules/.vite/deps/react.js
Frontend/node_modules/.vite/deps/react-router-dom.js.map
Frontend/node_modules/.vite/deps/react-router-dom.js
Frontend/node_modules/.vite/deps/react-hook-form.js.map
Frontend/node_modules/.vite/deps/react-hook-form.js
Frontend/node_modules/.vite/deps/react-dom_client.js.map
Frontend/node_modules/.vite/deps/react-dom_client.js
Frontend/node_modules/.vite/deps/package.json
Frontend/node_modules/.vite/deps/chunk-ZVMIEU5R.js.map
Frontend/node_modules/.vite/deps/chunk-ZVMIEU5R.js
Frontend/node_modules/.vite/deps/chunk-UXIASGQL.js.map
Frontend/node_modules/.vite/deps/chunk-UXIASGQL.js
Frontend/node_modules/.vite/deps/chunk-DDTOIOM4.js.map
Frontend/node_modules/.vite/deps/chunk-DDTOIOM4.js
Frontend/node_modules/.vite/deps/axios.js.map
Frontend/node_modules/.vite/deps/axios.js
Frontend/node_modules/.vite/deps/_metadata.json
Frontend/.vs/Frontend/FileContentIndex/7e4db490-82f6-4650-9cee-efc72e3db8a9.vsidx
